body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

.Orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding: 2%;
}

.half-width img {
    width: 80%;
}

.Link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(top-banner.jpg);
    background-repeat: no-repeat;
}

.Dream-big {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}